# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.log
*.pot
*.pyc

# Django
*.log
*.pot
*.pyc
*.pyo

# Virtual Environment
venv/
env/
ENV/
env.bak/
venv.bak/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Mac OS X
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Node.js (if you're using Node.js for front-end)
node_modules/

# Python Wheel files
*.whl

# Coverage reports
.coverage
*.cover
.tox/
.nox/
.dist/

# MyPy
.mypy_cache/
.dmypy.json
.pyre/

# Pytest
.cac
